.tech {
  display: flex;
  padding: 1.6em 0rem;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.download {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tech > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  text-align: center;
}

.tech > div > img {
  height: 64px;
  width: 64px;
  justify-content: start;
  align-items: center;
  margin: 0rem 1.5rem;
}
.tech > div > span {
  color: #000;
  margin: 0.3rem 0;
}
