.statics {
  display: flex;
  padding: 1.6em 0rem;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}
.statics > div {
  width: 22%;
  margin: 0rem 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.statics > div > div {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  border: 10px solid rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.statics > div > span {
  font-size: 1rem;
  color: #000;
  margin: 0.5rem 0;
}
@media only screen and (max-width: 600px) {
  .statics > div {
    width: 45%;
  }
}
