.Proficiency {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
}
.card {
  width: 30%;
  margin: 0px 12px;
  background-color: #f8f9f9;
  text-align: center;
}

.card h4 {
  font-size: 1.2rem;
}
@media only screen and (max-width: 800px) {
  .card {
    width: 100%;
    margin: 1rem 0;
  }
}
