.quotes {
  margin: 3rem 0 2rem 0;
  text-align: center;
  color: #333;
  font-size: 0.9rem;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-gap: 1rem;
}

@media only screen and (max-width: 600px) {
  .project {
    grid-template-columns: repeat(1, 100%);
  }
  .Projects {
    padding: 0 0.5rem;
  }
}
